<ul id="main-nav-bar" class="inline shopping_cart" data-hook>
  <li id="link-to-cart" data-hook>
    <noscript>
      <%= link_to t('spree.cart'), spree.cart_path %>
    </noscript>
    &nbsp;
  </li>
</ul>
<script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>